<li class="member-container" role="presentation">
      <div class="members-list">
        <%= member.escape('email') %>
        <i class="fa fa-times-circle-o delete-member" data-toggle="confirmation"></i>     
      </div>    
</li>

