<div class="containter">
  <div id="navbar-bb"></div>
  <div class="row"></div>
  <div id="content" class="col-sm-12 white-panel"></div>
  <div style="text-align: center; margin-top: 100px"><iframe class="video animated hidden" id="video" width="420" height="315" src="//www.youtube.com/embed/nrbni0tVBZ8?enablejsapi=1" frameborder="0" allowfullscreen></iframe></div>
</div>

<script>

var currentUserId = <%= current_user.id %>
var currentUserEmail = '<%= current_user.email %>'

TrelloClone.currentUserId = currentUserId
TrelloClone.currentUserEmail = currentUserEmail

$(TrelloClone.initialize({
  $main: $('#content'),
  $navbar: $('#navbar-bb')
}));
</script>
