<%= render partial: "layouts/header" %>

<%= render "layouts/errors" %>


<div class="row">
  <div class="col-md-4 col-md-offset-4 landing">
    <h1>Sign In</h1>
    <form action ="/session" method="post" class="margin-base-vertical">
      <%= authenticate %>
      <label>Email<br>
        <input type="text" 
               name="user[email]" 
               placeholder="enter email" 
               value="">
      </label><br><br>
  
      <label>Password<br>
        <input type="password"
               name="user[password]"
               placeholder="enter password"
               value="">
      </label><br><br>
      <input type="submit" value="Submit" class="btn btn-custom-india-home">
    </form>
    <form type="hidden" action ="/session" method="post">
      <%= authenticate %>
        <input type="hidden" 
               name="user[email]" 
               placeholder="guest@gmail.com" 
               value="guest@gmail.com">
  
        <input type="hidden"
               name="user[password]"
               placeholder="password"
               value="password">
      <input type="submit" value="Guest Login" class="btn btn-custom-india-home">
    </form>
    <br>
    <label>
      Keep an eye out for Easter eggs
    </label>
    <br>
    <i>
      *look for the pointer
    </i>
    <span class="glyphicon glyphicon-hand-up"></span>
  </div>
</div>