<li class="list-group-item"><%= card.escape('title') %></li>

<!-- <li class="list-group-item">
  <div class="card-title card-display" data-card-id="<%= card.id %>">
    <h4><%= card.escape('title') %></h4>
  </div>
</li> -->