<div class='show-board-header'>
  <div class='row'>
    <div class='col-md-3'>
      <h1><%= board.escape('title') %></h1>
    </div>
    
    <div class='col-md-1'>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          Board Members
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class='lists-window'>
  
  <ul id="lists">
  </ul>
  
  
  
  <button type="button" class="btn btn-custom-india list-modal">Add List</button>
  
  <div class="modal fade listModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i><span class="sr-only">Close</span></button>
          <h3 class="modal-title"><%= board.escape('title') %></h3>
          <br>
          <h4 class="modal-title" id="myModalLabel">Create List</h4>
        </div>
        <div class="modal-body">
          <form class="list-form">
            <label>
               Title
               </label><br>
              <input type="text" name="list[title]" class="listTitle">
            <br><br>
            <input type="submit" class="btn btn-custom">
          </form>
        </div>
        
      </div>
    </div>
  </div>

  
</div>


