<%= render partial: "layouts/header" %>
<h1>Sign Up</h1>

<%= render "layouts/errors" %>

<form action ="/users" method="post">
  <%= authenticate %>
  <label>Email<br>
    <input type="text" 
           name="user[email]" 
           placeholder="Enter Email">
  </label><br>
  
  <label>Password<br>
    <input type="password"
           name="user[password]"
           placeholder="Enter Email">
  </label><br>
  <input type="submit" value="Submit" class="btn btn-primary">
</form>