<li>
  
<div class="panel panel-default">  
  <div class="panel-heading  list-heading " data-list-id="<%= list.id %>">
    <h4 class="panel-heading"><%= list.escape('title') %></h4>

  <ul id="cards" class="list-group">
  </ul>
  
  <div class="panel-footer">
    <button type="button" class="btn btn-custom btn-xs card-modal">Add Card</button>
  </div>

</div>
</li>


  
  
  <div 
    class="modal fade cardModal"  
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="myModalLabel" 
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Create Card</h4>
        </div>
        <div class="modal-body">
          <form class="card-form">
            <label>
               Title
              <input type="text" name="card[title]" class="cardTitle">
            </label>
            <input type="submit" class="btn btn-primary">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>